.home-main{
    background: url(../../../images/bg.png);
    background-size: 65%;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: left;
}
.home-main-grid{
    align-items: center;
    padding-top: 4em;
}
.home-main-grid button{
    margin-top: 4em;
}
.home-title{
    font-size: 36px;

}